{% extends "base.html" %}
{% block title %}
Logowanie
{% endblock %}
{% block content %}
    <div>
        <form method="post" action="">
            {% csrf_token %}
            <h1>Logowanie</h1>
            <label style="color: red">{{ msg }}</label>
            <table>
                {{ formset }}
                </br>
            </table>
            <input type="submit" class="btn btn-default" value="Zatwierdź">
            <input type="reset" class="btn btn-default" value="Anuluj">
        </form>
    </div>
{% endblock %}