<!DOCTYPE html>
{% extends "base.html" %}

{% block title %}
    Ustawienia użytkownika
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}user.css">
    <div>
    <h1>Ustawienia użytkownika</h1>
        <label style="color: red">{{ msg }}</label>
        <form method="post" action="">
            {% csrf_token %}
            <table>
                {{ formset }}
                </br>
            </table>
            <input type="submit" class="btn btn-default" value="Zatwierdź">
            <input type="reset" class="btn btn-default" value="Anuluj">
        </form>
    </div>
{% endblock %}